.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171717;
  font-family: "Arial", sans-serif;

  background-image: url("../../public/backgroundRude.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-position-x: right;
}

.countdownTimer {
  text-align: center;
  color: #f0f0f0;
  font-size: 5rem;
  font-weight: bold;
}

@media (max-width: 900px) {
  .countdownTimer {
    font-size: 3rem;
    /* Adjust font size for smaller screens */
  }
}

@media (max-width: 500px) {
  .countdownTimer {
    font-size: 2rem;
    /* Adjust font size for smaller screens */
  }
}
